.show-overflow {
  overflow: visible !important;
}

.show-overflow .box-content {
  overflow: visible !important;
}
#flyoutnavkbbtn {
  display: table;
  width: 100%;
}
#flyoutnavkbbtn > ul {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #036;
  color: #fff;
}
#flyoutnavkbbtn > ul > li {
  display: flex;
  width: 20%;
  text-align: center;
  position: relative;
}
#flyoutnavkbbtn a,
#flyoutnavkbbtn .current {
  flex: 1;
  display: block;
  padding: 0.25em;
  border-color: #e8e8e8;
}
#flyoutnavkbbtn a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #036;
}
#flyoutnavkbbtn a:hover,
#flyoutnavkbbtn a:focus {
  background-color: #fff;
  color: #036;
  border: 1px solid #036;
  text-decoration: underline;
}
#flyoutnavkbbtn .current {
  background-color: #bbb;
  color: #000;
  border-color: #444;
}

#flyoutnavkbbtn > ul > li > ul {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 0;
  margin: 0;
  background-color: #036;
}

#flyoutnavkbbtn > ul > li.open > ul {
  display: block;
}

#flyoutnavkbbtn > ul > li > ul a {
  border-bottom-width: 1px;
}
#flyoutnavkbbtn .has-submenu > a:after {
  margin-left: 5px;
  line-height: 14px;
  content: "";
}
#flyoutnavkbbtn .has-submenu:hover > a:hover:after,
#flyoutnavkbbtn .has-submenu > a:focus:after {
  content: "";
}

#flyoutnavkbbtn .has-submenu button {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 1;
  padding: 3px;
}

#flyoutnavkbbtn .has-submenu button > span {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  /* background: url(../../img/ex-dropdown-inactive-2084a51c.png) center no-repeat; */
  background: url(https://www.w3.org/WAI/tutorials/img/ex-dropdown-inactive-2084a51c.png) center no-repeat;
}

#flyoutnavkbbtn .has-submenu:hover button > span,
#flyoutnavkbbtn .has-submenu button:focus > span {
  /* background: url(../../img/ex-dropdown-active-330d8be7.png) #fff; */
  background: url(https://www.w3.org/WAI/tutorials/img/ex-dropdown-active-330d8be7.png) #fff;
}

#flyoutnavkbbtn .has-submenu button,
#flyoutnavkbbtn .has-submenu a:focus + button {
  background-color: #036;
}
#flyoutnavkbbtn .has-submenu:hover button,
#flyoutnavkbbtn .has-submenu button:hover,
#flyoutnavkbbtn .has-submenu button:focus {
  background: #fff;
  border: 1px solid #036;
  border-left: none;
}


.visuallyhidden{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px #0080ff;
}
