a, button.page-link {
    color: #33c48a;
}

a:hover, button.page-link:hover {
    color: #029359;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

ul.char-info {
    padding: 0;
}

ul.char-info ul {
    padding-left: 20px;
}

ul.char-info > li {
    list-style: none;
}

ul.char-info ul li {
    list-style-type: disc;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron .container {
    max-width: 40rem;
}

.jumbotron-heading {
    font-weight: 300;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pagination > li.active > button.page-link {
  background: #6c757d;
  border-color: #55595c;
  color: #ffffff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}